*.o
*.a
*.d
*.so
*.wpc
*.patch
*.cap
*.pcap
*.pcapng
*.log
*.diff
*.csv
*.netxml
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.pyc
*.aes
*.gpg
src/version.h
src/wash
src/reaver
src/config.log
src/config.mak
src/config.status
src/config.h
src/autom4te.cache

